wells.js
bin
*~
/data
json

# Vagrant
.vagrant
bootstrap.sh

# Mac OS
.DS_Store

release
js-build
js/libs

#pycharm
.idea

.#*
#*
*.pyc
ui_tests/data
travis-data
node_modules
config.json
clientdeps
gh-pages
apikeys.json
style.less
