install:
  - curl -sL https://deb.nodesource.com/setup | sudo bash - > install-log 2>&1 || { cat install-log; exit 1; }
  - sudo apt-get update > install-log 2>&1 || { cat install-log; exit 1; }
  - sudo apt-get install -qq xvfb chromium-browser nodejs > install-log 2>&1 || { cat install-log; exit 1; }
  - sudo npm install testem -g > install-log 2>&1 || { cat install-log; exit 1; }
  - sudo pip install -r requirements.txt > install-log  2>&1 || { cat install-log; exit 1; }

script:
  - xvfb-run glxinfo
  - export LIBGL_DEBUG=verbose; xvfb-run glxgears
  - make
  - xvfb-run -s "-screen 0 1280x1024x24" testem -l Chromium ci --timeout 60
  - xvfb-run -s "-screen 0 1280x1024x24" nosetests -w ui_tests
