install:
  - curl -sL https://deb.nodesource.com/setup | sudo bash -
  - sudo apt-get update
  - sudo apt-get install -qq xvfb chromium-browser nodejs
  - sudo npm install testem -g

script:
  - make
  - xvfb-run testem -l Chromium ci --timeout 60
