install:
  - curl -sL https://deb.nodesource.com/setup | sudo bash - > install-log 2>&1 || { cat install-log; exit 1; }
  - sudo apt-get update > install-log 2>&1 || { cat install-log; exit 1; }
  - sudo apt-get install -qq xvfb chromium-browser nodejs libglapi-mesa libosmesa6 mesa-utils > install-log 2>&1 || { cat install-log; exit 1; }
  - sudo npm install testem -g > install-log 2>&1 || { cat install-log; exit 1; }
  - sudo pip install -r requirements.txt > install-log  2>&1 || { cat install-log; exit 1; }
  - sudo pip install chromedriver_installer --install-option="--chromedriver-version=2.10" > install-log  2>&1 || { cat install-log; exit 1; }

script:
  - export LIBGL_DEBUG=verbose; xvfb-run -s "-screen 0 1280x1024x24" glxinfo
  - make
  - xvfb-run -s "-screen 0 1280x1024x24" testem -l Chromium ci --timeout 60
  - xvfb-run -s "-screen 0 1280x1024x24" nosetests -s -w ui_tests
  - cp *.png travis-data

before_script:
  - scripts/travis-checkout-data.sh

after_script:
  - scripts/travis-upload-data.sh