sudo: false
language: python
python:
- '2.7'
env:
- TESTEM_PATH="node_modules/testem/" TESTEM_SUFFIX=".js"
addons:
  apt:
    packages:
    - libglapi-mesa
    - libosmesa6
    - mesa-utils
cache:
  directories:
  - "$HOME/.cache/pip"
  - node_modules
before_install:
  - pip install --upgrade pip
  - pip install -r requirements.txt
  - pip install chromedriver_installer>=0.0.4 --install-option="--chromedriver-version=2.10"
  - npm install testem
  - echo "$APIKEYS" > apikeys.json
before_script:
  - make all
  - LIBGL_DEBUG=verbose xvfb-run -a -s "-ac -screen 0 1280x1024x24" -l glxinfo
script:
  - make unit-tests
  - make integration-tests
after_failure:
  - scripts/travis-screenshots
