body

.logo {
  position: absolute;
  right: 100pt;
  bottom: 23pt;
}

.main-timeline {
  position: absolute;
  left: 77.666pt;
  right: 10pt;
  bottom: 10pt;
  height: 75pt;
}

.AnimationUI {
  border: 0px;
  height: 100%;
  width: 100%;
}

.claro .dijitBorderContainer-dijitContentPane.AnimationContainer,
.claro .dijitAccordionContainer .dijitAccordionContainer-child.dijitContentPane {
  padding: 0;
}

.animations {
  width: 100%;
  height: 100%;
}

.control_box {
  width:48pt;
  height: 80pt;
  text-align: center;
  padding-top: 9px;
  background-color: #F9FAFB;
  border-top: solid 1px #dbdcdd;
  box-shadow: 1px 1px 1px #5F5D5c;
  border-top-right-radius: 2pt;
  border-bottom-right-radius: 2pt;
  /*width: 75pt;
  height: 75pt;
  padding-top: 7.666pt;
  padding-left: 7.666pt;*/

  position: absolute;
  bottom: 8pt;
  /*left: 2.333pt;*/
  z-index: 5;

  .divide {
    border: solid 1px #DBDCDD;
    margin: 10px 15px;
  }
  button {
    width: 30pt;
    height: 30pt;
    border: hidden;
    background-color: transparent;
    border: none !important;
    margin: 0 !important;
    }

  a.balloon {
    outline:none;
    text-decoration:none;

    img {
      border: none;
    }

    div {
      z-index: 10;
      display: none;
      left: 75pt;
      bottom: 3pt;
      padding-top: 7.666pt;
      padding-left: 7.666pt;
      min-width: 100pt;
      border-radius: 6px;
      -moz-border-radius: 6px;
      -webkit-border-radius: 6px;
      -moz-box-shadow: 6px 6px 10px #CCC;
      -webkit-box-shadow: 6px 6px 10px #CCC;
      box-shadow: 6px 6px 10px #CCC;
      white-space: nowrap;
    }

    &:hover {
      text-decoration:none;
      text-outline:none;

      div {
        display: inline;
        position: absolute;
        color: #5b5b5b;
        border: 1pt solid #888;
        background: #fff;
      }

      li {
        list-style:none;
      }
    }
  }

  .arrow {
    z-index: 20;
    position: absolute;
    bottom: 12pt;
    left: -11px;
    background-color: transparent;
  }


  /* icon styles */

  .btn-lg, .btn-xs {
    width: 24pt;
    height: 24pt;
    border: solid 1pt #888888;
    border-radius: 4pt;
    margin-bottom: 7.666pt;
    margin-right: 7.666pt;
    padding: 0;
    font-size: 12pt;
  }

  .fa {
    color: #5b5b5b;
  }
}










// Stuff from Johnna


/* 

hyperwall is: 3 1280px screens wide and 3 720pxs screens high.
   essentially, it is 3840px x 2160px
   the right column is then 551px (not 864px as we had for the 6000px comp)

*/

#w {
        padding: 5pt 5pt 13pt 0;
        font-family: 'Roboto', sans-serif; 
	background-color: #fcfcfc;
	width: 14.349%; /* 551px / 3180px */
	/*min-width: 150px;*/ /* current width of right col on 1024x768 screen */
	min-width: 225px; /* a better fit if we can manage it */
	max-width: 551px; /* width of right col on hyper */
	box-shadow: -3px 1px 2px #b8bda7;
        border-right: solid 1px #dddcd6;

/* New stuff from Egil */
        font-size: 11pt;
        position: absolute;
        right: 15px;
        z-index: 10000;
        line-height: normal !important;
        box-sizing: initial !important;
}

#w.collapsed {
  left: 100%;

  #drawer_slide {
    margin-left: -20pt;
    box-shadow: -3px 1px 2px #b8bda7;
  }
}

#drawer_slide {
  background-color: #fcfcfc;
  border-bottom-left-radius: 4pt; 
}

#drawer_slide img {
        width: 4%;
	min-width: 11px;
	margin: 5pt;
        cursor: pointer;
}

#gfw_title {
        color: #404041; 
	font-weight: 400;
	padding-left: 10.5263%;/* 58px / 551px */
}

#gfw_title img {
	vertical-align: middle;
	padding-right: 4.3557%; /* 24px / 551px */
        width: 20%; 
}

#gfw_logos {
	padding-top: 2.1296%; /* 45px / 2160px */
	padding-left: 10.5263%;/* 58px / 551px */
        text-align: left;
}




/*
#gfw_logos img.oc, #gfw_logos img.st {
        width: 30%;
        vertical-align: bottom;
        padding-right: 3%; 
}
*/

#gfw_logos img.st {
    padding-right: 7%;
    vertical-align: bottom;
    width: 28%;
}

#gfw_logos img.oc {
    padding-right: 7%;
    vertical-align: bottom;
    width: 30%;
}

#gfw_logos img.g {
        width: 26%;
        vertical-align: bottom;
        padding-right: 0; 
}

#layers, #vessel_identifiers {
	padding-left: 10.5263%;/* 58px / 551px */
}

#layers h2, #vessel_identifiers h2 {
	color: #3a3a3c;
	font-size: 100%;
	padding-top: 1rem; 
	font-weight: 400;
}

#divide {
	border-bottom: solid 1px #dfe0e1;
	margin: 1.15rem 2.5% 0 2.5%;
	
	
}


/* Vessel Info styles */
.vessel_id {
	width: 100%;
	padding: 0;
	margin: 0;
}

.vessel_id th {
	text-align: left;
	color: #6d6e71;
	font-size: 90%;
	font-weight: 400;
	padding: 0;
	margin: 0;
}

.vessel_id td {
	color: #939598;
	font-size: 90%;
	font-weight: normal;
	padding: 0;
	margin: 0;
	line-height: 200%;
}

.vessel_id td img {
	width: 20%;
}


/* toggle styles */
#layers {
	display: table;
	width: 100%;
}

#layers .layer-row {
	display: table-row;
}

#layers .layer-label,
#layers .switch {
	display: table-cell;
	vertical-align: middle;
        padding-top: 6px;
        vertical-align: top;
}

#layers .switch {
	width: 25%;
	font-size: 90%;
}

#layers .layer-label {
        color: #6D6E70;
	font-size: 90%;
	padding: 2%;
	width: 65%;
}

.cmn-toggle {
	position: absolute;
	margin-left: -9999px;
	visibility: hidden;
}

.cmn-toggle + label {
	display: block;
	position: relative;
	cursor: pointer;
	outline: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;

        max-width: auto;
        margin-bottom: 0;
        font-weight: normal;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
	display: block;
	position: absolute;
	content: "";
}

input.cmn-toggle-round-flat + label:before {
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

/* switch color styles */
input.cmn-toggle-round-flat + label:after {
	top: 0;
	left: 0;
	bottom: 0;
        width: 16px; 
	-webkit-border-radius: 100%; /*52px;*/
	-moz-border-radius: 100%;
	-ms-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	-webkit-transition: margin 0.4s, background 0.4s;
	-moz-transition: margin 0.4s, background 0.4s;
	-o-transition: margin 0.4s, background 0.4s;
	transition: margin 0.4s, background 0.4s;
}

input.cmn-toggle-round-flat:checked + label {
  background-color: transparent;
}

input.cmn-toggle-round-flat:checked + label:after {
  margin-left: 55%; /*30px;*/ 
}

input.cmn-toggle-round-flat + label {
	padding: 0; /*2px;*/
	width: 35px; /*40px;*/
	height: 16px; /*20px;*/
	/*background-image: url("img/gfw/toggle_line.png");
	background-repeat: repeat-x;
	background-position: center center;*/
	-webkit-transition: background 0.4s;
	-moz-transition: background 0.4s;
	-o-transition: background 0.4s;
	transition: background 0.4s;
}

input.cmn-toggle + label, input.cmn-toggle:checked + label {
	background-repeat: repeat-x;
	background-position: center center;
}

input.cmn-toggle + label:after {
	background-color: #fff; 
	border: solid .25rem;
}

/* colors */
/* heatmap */
input.cmn-toggle-orange + label, input.cmn-toggle-orange:checked + label {
	background-image: url("img/gfw/toggle_line_orange.png");
}
input.cmn-toggle-orange:checked + label:after {
        background-color: #ef4323; 
}
input.cmn-toggle-orange + label:after {
	border-color: #ef4323;
}
/* oceana */
input.cmn-toggle-purple + label, input.cmn-toggle-purple:checked + label {
	background-image: url("img/gfw/toggle_line_purple.png");
}
input.cmn-toggle-purple:checked + label:after {
        background-color: #692897; 
}
input.cmn-toggle-purple + label:after {
	border-color: #692897;
}
/* eez */
input.cmn-toggle-blue + label, input.cmn-toggle-blue:checked + label {
	background-image: url("img/gfw/toggle_line_blue.png");
}
input.cmn-toggle-blue:checked + label:after {
        background-color: #4666af; 
}
input.cmn-toggle-blue + label:after {
	border-color: #4666af;
}
/* bathymetry */
input.cmn-toggle-blue2 + label, input.cmn-toggle-blue2:checked + label {
	background-image: url("img/gfw/toggle_line_blue2.png");
}
input.cmn-toggle-blue2:checked + label:after {
        background-color: #9daed4; 
}
input.cmn-toggle-blue2 + label:after {
	border-color: #9daed4;
}
/* mpa */
input.cmn-toggle-green + label, input.cmn-toggle-green:checked + label {
	background-image: url("img/gfw/toggle_line_green.png");
}
input.cmn-toggle-green:checked + label:after {
        background-color: #4cae4e; 
}
input.cmn-toggle-green + label:after {
	border-color: #4cae4e;
}
/* world heritage */
input.cmn-toggle-green2 + label, input.cmn-toggle-green2:checked + label {
	background-image: url("img/gfw/toggle_line_green2.png");
}
input.cmn-toggle-green2:checked + label:after {
        background-color: #0e5c39; 
}
input.cmn-toggle-green2 + label:after {
	border-color: #0e5c39;
}

/* vessel tracks */
input.cmn-toggle-grey + label, input.cmn-toggle-grey:checked + label {
	background-image: url("img/gfw/toggle_line_grey.png");
}
input.cmn-toggle-grey:checked + label:after {
        background-color: #757575; 
}
input.cmn-toggle-grey + label:after {
	border-color: #757575;
}




#layers h2,
#vessel_identifiers h2 {
        color: #404041; 
}

.vessel_id th {
        color: #6D6E70;
        vertical-align: top;
        padding: 4px 0 0 0;
}
.vessel_id td {
        color: #939597; 
        vertical-align: top;
        padding-left: 5px; 
}


@media screen and (min-width: 3000px) { 

	#w {
		box-shadow: -6px 2px 4px #b8bda7;
	}


	#gfw_title {
		font-size: 200%;
	}

	#layers h2, #vessel_identifiers h2 {
		font-size: 200%;
	}

	.vessel_id th {
		font-size: 125%;
	}
	
	.vessel_id td {
		font-size: 125%;
	}

	#layers .layer-label {
		font-size: 125%;
	}	

}
