.rotate(@angle) {
  /* Safari */
  -webkit-transform: rotate(@angle);
  /* Firefox */
  -moz-transform: rotate(@angle);
  /* IE */
  -ms-transform: rotate(@angle);
  /* Opera */
  -o-transform: rotate(@angle);
}

.timeline {
  z-index: 0;
  font-family: 'Roboto', sans-serif; 

  .zoom {
    z-index: 2;
    position: relative;
    display: block;
    padding: 0;
    top: -300%;

    .zoomIn, .zoomOut {
      display: block;
      color: #4f4e4e;
      font-size: 7pt;
      cursor: pointer;
      &:hover {
        text-decoration: none;
      }
      img {
        height: 1em;
        width: 6em;
      }
    }
  }

  .overlay, .underlay {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 0; // Hide spaces between inline blocks

    .leftFrame, .rightFrame, .window {
      position: relative;
      height: 100%;
      display: inline-block;
    }

    .leftFrame, .rightFrame {
      z-index: 1;
    }

    .window {
      font-size: 10pt;
      z-index: 2;

      border-radius: 4pt; 
      -moz-border-radius: 4pt; 
      -webkit-border-radius: 4pt; 

      .frame {
        width: 100%;
        height: 100%;
      }
    }
  }

  .overlay {
    z-index: 1;

    .window { 
      padding-left: 4pt;
      padding-right: 4pt;
      cursor: col-resize;

      .frame {
        cursor: initial;

        .startLabel, .lengthLabel, .endLabel {
          position: absolute;
          white-space: nowrap;
        }
        .startLabel span, .endLabel span {
          padding: 2pt;
          color: #535151;
        }

        .lengthLabel span {
          padding: 2pt;
          color: #a7a7a7;
        }

        .startLabel, .endLabel {
          font-size: 1.5em;
        }

        .startLabel {
          left: 0;
        }
        .lengthLabel {
          bottom: 0;
          left: 0;
          right: 0;
          text-align: center;
        }
        .endLabel {
          right: 0;
        }
      }
    }
  }

  .underlay {
    z-index: -1;
    top: -200%;

    .window {
      /*background: white;*/
      background: #f8f8f9;
      -moz-box-shadow: 3px 3px 13px #000000;
      -webkit-box-shadow: 3px 3px 13px #000000;
      box-shadow: 3px 3px 13px #000000;
    }
  }

  .line-visibility {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    top: -100%;
    z-index: 0;

    .line {
      position: relative;
      width: 100%;
      height: 100%;

      .rangemarks {
        position: absolute;
        opacity: 0.5;
        width: 100%;
        height: 100%;
        font-size: 0;
        .rangemark {
          position: absolute;
          height: 100%;
        }
      }

      .tickmarks-container {
        position: absolute;
        width: 100%;
        height: 60%;
        top: 20%;
        z-index: 1;
      }

      .tickmarks {
        width: 100%;

        white-space: nowrap;
        font-size: 0;

        .quanta {
          position: relative;
          display: inline-block;
          height: 100%;
          padding: 1pt;

          .frame {
            padding: 4pt;
            height: 100%;

            .debug {
              display: none;
            }

            .quanta-label {
              display: block;
              color: black;
              width: 100%;
              height: 100%;
              text-align: center;
              .left {
                float: left;
              }
              .center {
              }
              .right {
                float: right;
              }

            }
          }
        }

        &.top {
          .even .frame {
            background-color: rgba(189,189,189,0.5);
            .quanta-label {
              color: #4f4e4e;
            }
          }

          .odd .frame {
            background-color: rgba(224,224,224,0.5);
            .quanta-label {
              color: #4f4e4e;
            }
          }
        }

        &.bottom {
          .even .frame {
            background-color: rgba(33,32,32,0.5);
            .quanta-label {
              color: #c7c6c5;
            }
          }

          .odd .frame {
            background-color: rgba(66,64,64,0.5);
            .quanta-label {
              color: #c7c6c5;
            }
          }
        }  
      }
    }
  }
}
